.category-products-container {
  padding: 20px;
  min-height: 100vh;
}

.category-products-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-transform: capitalize;
}

.category-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category-products-empty {
  font-size: 16px;
  color: #999;
  margin-top: 10px;
}

@media (max-width: 768px) {
    .category-products-container {
  padding: 20px 0px;
}

.category-products-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-transform: capitalize;
  margin-left: 20px;
}

.category-products-list {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 2fr));
  gap: 0px;
  padding: 0px 0px;
}

.category-products-empty {
  font-size: 16px;
  color: #999;
  margin-top: 10px;
}

}