.site-header {
  background: #ffffff;
  color: #000000;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
 border: 1px solid rgb(203, 203, 203);
}
.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* dark overlay */
  z-index: 998;
}

/* Logo */
.logo {
  font-size: 28px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

/* Navigation */
.main-nav {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  /* background-color: green; */
}

.main-nav .menu_options{
    display: flex;
    width: 60%;
    /* background-color: red; */
    justify-content: space-between;
}

/* Dropdown */
.dropdown {
  position: relative;
 
}

.dropbtn {
  background: none;
  border: none;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  left: -200px;
 background-color: white;
  padding: 25px;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
  gap: 20px;
  border: 1px solid rgb(198, 198, 198);
}

.dropdown-content .dropdown-item,
.search-dropdown .dropdown-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: transform 0.2s ease;
  gap: 20px;
  height: 50px;
}
.dropdown-content .dropdown-item .d_item_img,
.search-dropdown .dropdown-item .d_item_img
{
    height: 100%;
    width: 50px;
}
.dropdown-content .dropdown-item img,
.search-dropdown .dropdown-item img

{
height: 100%;
width: 100%;
object-fit: contain;
}

.dropdown-content .dropdown-item:hover {
  filter: opacity(0.8);
}

.dropdown-content.dropdown_show {
  display: grid;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  background: #eeeeee;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  padding: 0px 10px;
  width: 300px;
  height: 40px;
}

.search-bar input {
  border: none;
  padding: 8px 12px;
  background: transparent;
  color: #000000;
  outline: none;
  width: 180px;
}
.search-bar input::placeholder {
  color: #000000;

}
.search-bar button {
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  color: #000;
  background: #eeeeee;
   font-size: 1rem;
}

.search-dropdown{
  display: none;
  position: absolute;
  top: 60px;
  left: 65px;
 background-color: white;
  padding: 25px;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
  gap: 20px;
  border: 1px solid rgb(198, 198, 198);
}

.search-dropdown.show_sd{
  display: grid;
}
.profile_options{
    display: flex;
    gap: 25px;
}
/* Links */
.nav-link {
  color: #010101;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-link .ic{
  font-size: 1.2rem;
}
/* Cart badge */
.cart-badge {
  background: #f0a500;
  color: #000;
  border-radius: 50%;
  padding: 2px 7px;
  margin-left: -10px;
  margin-top: -10px;
  font-size: 12px;
  vertical-align: top;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}


.drawer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav_btn{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;

}

/* Responsive */
@media (max-width: 768px) {
.site-header {
  padding: 15px 10px;

}
  .header-left{
    display: flex;
    height: 100%;
  }
  .header-left .drawer_btn{
    font-size: 1.5rem;
    margin-top: 5px;
  }
  .logo{
    font-size: 1.5rem;
  }
  .main-nav {
    gap: 12px;
  }
 
  .dropdown-content {
    width: 300px;
  }

  /* Logo */
.logo {
  font-size: 1.5rem;
}
.search-bar {
    width: 100%;
    height: 70px;
    padding: 10px;
     z-index: 999999999;
     position: fixed;
     border-radius: 0px;
     background-color: rgb(255, 255, 255);
     left: 0;
  }
  .search-bar input{
    height: 100%;
    width: 90%;
    margin-right: 10px ;
    font-size: 1.2rem;
  }
.search_close_btn{
  font-size: 2rem;
  font-weight: 900;
}
.search-icon{
  background: white;
  outline: none;
  border: none;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-dropdown{
  display: none;
 position: fixed;
  top: 68px;
  left: 0px;
 background-color: white;
  padding: 25px;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 20px;
  border: 1px solid rgb(198, 198, 198);
  overflow-y: scroll;
  height: auto;
  max-height: 600px;
  z-index:11111156;
}
/* Links */
.nav-link {
  gap: 2px;
}
.nav-link .ic{
  font-size: 1.8rem;
}
/* Cart badge */
.cart-badge {
  padding: 3px 8px;
  margin-left: -15px;
  margin-top: -15px;
  font-size: 10px;
  font-weight: 1000;
}

.mobile-drawer {
  position: fixed;
  top: 62px;
  left: -90%;
  width: 90%;
  height: 100%;
  background: white;
  z-index: 2000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition: 0.2s ease-in-out;
  z-index: 111112;
}
.mobile-drawer.show_drawer{
  left: 0%;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.drawer-content {
  padding: 10px;
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
}

.drawer-item {
 display: flex;
 flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: transform 0.2s ease;
  gap: 20px;
  height: 150px;
}
.drawer-item .d_item_img{
   height: 80%;
    width: 50px;
}
.drawer-item img
{
height: 100%;
width: 100%;
object-fit: contain;
}


@keyframes slideIn {
  from { left: -300px; }
  to { left: 0; }
}
.mobile-drawer .drawer_links{
 height: 100px;
 display: flex;
 justify-content: flex-start;
 align-items: start;
 flex-direction: column;
 padding: 0px 20px;
}
.mobile-drawer .drawer_links .nav-link{
  height: 50%;
  background-color: white;
  font-size: 1.1rem;
}
}
